.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.toasts {
  width: 459px;
  height: 562px;
  display: block;
  overflow: hidden;
  position: absolute;
  left: -257px;
  top: 61px;
  border-radius: 5px;
}
.property1FalseProperty2LgProperty3Success {
  background: rgba(240, 250, 242, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 462px;
  left: 26px;
  flex-direction: row;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1FalseProperty2LgProperty3Success > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1FalseProperty2LgProperty3Success > :global(.__wab_flex-container) > *,
.property1FalseProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1FalseProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1FalseProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge2 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(153, 227, 163, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 123, 56, 1);
  position: relative;
}
.message2 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 123, 56, 1);
  position: relative;
}
.property1FalseProperty2LgProperty3Warning {
  background: rgba(252, 248, 234, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  flex-direction: row;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1FalseProperty2LgProperty3Warning > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1FalseProperty2LgProperty3Warning > :global(.__wab_flex-container) > *,
.property1FalseProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1FalseProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1FalseProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge3 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(246, 208, 100, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text3 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(172, 90, 42, 1);
  position: relative;
}
.message3 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(172, 90, 42, 1);
  position: relative;
}
.property1FalseProperty2LgProperty3Error {
  background: rgba(251, 240, 240, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 173px;
  left: 26px;
  flex-direction: row;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1FalseProperty2LgProperty3Error > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1FalseProperty2LgProperty3Error > :global(.__wab_flex-container) > *,
.property1FalseProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1FalseProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1FalseProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge6 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase6 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(239, 164, 162, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text6 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(170, 55, 49, 1);
  position: relative;
}
.message6 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(170, 55, 49, 1);
  position: relative;
}
.property1FalseProperty2LgProperty3Information {
  background: rgba(244, 239, 252, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 332px;
  left: 26px;
  flex-direction: row;
  border-radius: 16px;
  padding: 4px 12px 4px 4px;
}
.property1FalseProperty2LgProperty3Information
  > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1FalseProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > *,
.property1FalseProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1FalseProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1FalseProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge7 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase7 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(163, 143, 246, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text7 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(84, 41, 154, 1);
  position: relative;
}
.message7 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(84, 41, 154, 1);
  position: relative;
}
.property1TrueProperty2LgProperty3Error {
  background: rgba(251, 240, 240, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 26px;
  top: 225px;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1TrueProperty2LgProperty3Error > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1TrueProperty2LgProperty3Error > :global(.__wab_flex-container) > *,
.property1TrueProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1TrueProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1TrueProperty2LgProperty3Error
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge5 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase5 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(239, 164, 162, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text5 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(170, 55, 49, 1);
  position: relative;
}
.content3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.message5 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(170, 55, 49, 1);
  position: relative;
}
.svg__r10Az {
  object-fit: cover;
  max-width: 100%;
  color: #ab3832;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.property1TrueProperty2LgProperty3Warning {
  background: rgba(252, 248, 234, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 20px;
  top: 70px;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1TrueProperty2LgProperty3Warning > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1TrueProperty2LgProperty3Warning > :global(.__wab_flex-container) > *,
.property1TrueProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1TrueProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1TrueProperty2LgProperty3Warning
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge4 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase4 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(246, 208, 100, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text4 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(172, 90, 42, 1);
  position: relative;
}
.content2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.message4 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(172, 90, 42, 1);
  position: relative;
}
.svg__wBKuW {
  object-fit: cover;
  max-width: 100%;
  color: #ad5b2b;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.property1TrueProperty2LgProperty3Information {
  background: rgba(244, 239, 252, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 25px;
  top: 380px;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1TrueProperty2LgProperty3Information > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1TrueProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > *,
.property1TrueProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1TrueProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1TrueProperty2LgProperty3Information
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(163, 143, 246, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(84, 41, 154, 1);
  position: relative;
}
.content {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.message {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(84, 41, 154, 1);
  position: relative;
}
.svg__qwarM {
  object-fit: cover;
  max-width: 100%;
  color: #552a9b;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.property1TrueProperty2LgProperty3Success {
  background: rgba(240, 250, 242, 1);
  mix-blend-mode: multiply;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 26px;
  top: 511px;
  border-radius: 16px;
  padding: 4px 10px 4px 4px;
}
.property1TrueProperty2LgProperty3Success > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.property1TrueProperty2LgProperty3Success > :global(.__wab_flex-container) > *,
.property1TrueProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.property1TrueProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > picture
  > img,
.property1TrueProperty2LgProperty3Success
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.badge8 {
  mix-blend-mode: normal;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgeBase8 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(153, 227, 163, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.text8 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 123, 56, 1);
  position: relative;
}
.content4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.content4 > :global(.__wab_flex-container) > *,
.content4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content4 > :global(.__wab_flex-container) > picture > img,
.content4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.message8 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 123, 56, 1);
  position: relative;
}
.svg__x59MU {
  object-fit: cover;
  max-width: 100%;
  color: #387c39;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.modal {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 8px 4px rgba(15, 23, 39, 0.029))
    drop-shadow(0px 20px 12px rgba(15, 23, 39, 0.079));
  width: 400px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  left: 492px;
  top: 164px;
  border-radius: 12px;
  padding: 24px;
}
.modal > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.modal > :global(.__wab_flex-container) > *,
.modal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.modal > :global(.__wab_flex-container) > picture > img,
.modal > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.content5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.content5 > :global(.__wab_flex-container) > *,
.content5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content5 > :global(.__wab_flex-container) > picture > img,
.content5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.systemIcons {
  background: rgba(208, 250, 223, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 24px;
}
.svg__llOif {
  object-fit: cover;
  max-width: 100%;
  color: #387c39;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText > :global(.__wab_flex-container) > *,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text9 {
  display: block;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(71, 84, 102, 1);
  align-self: stretch;
  position: relative;
}
.inputDropdown {
  height: 70px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.inputDropdownBase {
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  flex-direction: column;
}
.inputDropdownBase > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputDropdownBase > :global(.__wab_flex-container) > *,
.inputDropdownBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputDropdownBase > :global(.__wab_flex-container) > picture > img,
.inputDropdownBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.inputWithLabel {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputWithLabel > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputWithLabel > :global(.__wab_flex-container) > *,
.inputWithLabel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWithLabel > :global(.__wab_flex-container) > picture > img,
.inputWithLabel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.label {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(52, 64, 83, 1);
  position: relative;
}
.input {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(207, 212, 220, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 8px;
  padding: 10px 14px;
}
.input > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.input > :global(.__wab_flex-container) > *,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input > :global(.__wab_flex-container) > picture > img,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.content6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.content6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.content6 > :global(.__wab_flex-container) > *,
.content6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content6 > :global(.__wab_flex-container) > picture > img,
.content6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4O4Yl {
  object-fit: cover;
  max-width: 100%;
  color: #667085;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text10 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(15, 23, 40, 1);
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(71, 84, 102, 1);
  position: relative;
}
.svg__cLtcH {
  object-fit: cover;
  max-width: 100%;
  color: #667085;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.modalActions {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.modalActions > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.modalActions > :global(.__wab_flex-container) > *,
.modalActions > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.modalActions > :global(.__wab_flex-container) > picture > img,
.modalActions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
}
.buttonBase {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(173, 142, 246, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  padding: 12px 20px;
}
.buttonBase > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonBase > :global(.__wab_flex-container) > *,
.buttonBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonBase > :global(.__wab_flex-container) > picture > img,
.buttonBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text11 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(117, 64, 240, 1);
  position: relative;
}
.button2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
}
.buttonBase2 {
  background: rgba(117, 64, 240, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(117, 64, 240, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  padding: 12px 20px;
}
.buttonBase2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonBase2 > :global(.__wab_flex-container) > *,
.buttonBase2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonBase2 > :global(.__wab_flex-container) > picture > img,
.buttonBase2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text12 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
