.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-z02YCUisgBCK);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.codeTextInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oP7IP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formSitex__y1CxU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dbqF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formSitex__iLhcb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.codeTextInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buttonSitex:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__v8Lq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-g9aE9mhnmzYf);
  min-width: 0;
}
.passwordCheckIndicator__mim7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.passwordCheckIndicator__vcrM8:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
