.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-aMr2gY3GXBn0);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__niPi1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px #d1d5db;
  width: 100%;
  font-size: var(--token-c7G1_p-BizOB);
  line-height: var(--token-24AtX1OWK5Yq);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-o5IVBJ0OblzA);
  padding: var(--token-o5IVBJ0OblzA) var(--token-Yd8N2IwI_cOx)
    var(--token-o5IVBJ0OblzA) var(--token-KSnWUcjQfY4a);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-Yd8N2IwI_cOx);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-Yd8N2IwI_cOx);
  flex-shrink: 0;
  border-radius: var(--token-o5IVBJ0OblzA);
  padding: var(--token-o5IVBJ0OblzA) var(--token-KSnWUcjQfY4a);
  border: 1px none black;
}
.freeBox__iyxnw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-8ecMk98s01Lb);
  height: var(--token-8ecMk98s01Lb);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__i3F9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
