.passwordCheckWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px 0px;
}
.passwordCheckWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.passwordCheckWrapper > :global(.__wab_flex-container) > *,
.passwordCheckWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.passwordCheckWrapper > :global(.__wab_flex-container) > picture > img,
.passwordCheckWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___4Bb8J {
  height: 4px;
  width: 100%;
  background: #e6e6e6;
  display: block;
  position: relative;
  max-width: 100%;
  min-width: 0;
  border-radius: 4px;
  padding: 0px;
}
.freeBox_1Check_unnamedVariant___4Bb8JxatFh {
  background: var(--token-yPTpG3_Q2TtR);
}
.freeBox__nrPXk {
  height: 4px;
  width: 100%;
  background: #e6e6e6;
  display: block;
  position: relative;
  max-width: 100%;
  min-width: 0;
  border-radius: 4px;
  padding: 0px;
}
.freeBox__suaAr {
  height: 4px;
  width: 100%;
  background: #e6e6e6;
  display: block;
  position: relative;
  max-width: 100%;
  min-width: 0;
  border-radius: 4px;
  padding: 0px;
}
.freeBox__zI2Mn {
  height: 4px;
  width: 100%;
  background: #e6e6e6;
  display: block;
  position: relative;
  max-width: 100%;
  min-width: 0;
  border-radius: 4px;
  padding: 0px;
}
