.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px #d1d5db;
  font-size: var(--token-c7G1_p-BizOB);
  line-height: var(--token-24AtX1OWK5Yq);
  width: 100%;
  color: var(--token-z02YCUisgBCK);
  font-family: var(--token-wlLLZLp6ZjVv);
  min-width: 0;
  border-radius: var(--token-o5IVBJ0OblzA);
  padding: var(--token-o5IVBJ0OblzA) var(--token-KSnWUcjQfY4a);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-yPTpG3_Q2TtR);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-g9aE9mhnmzYf);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-lHAwEhDJgII7);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-g9aE9mhnmzYf);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-Yd8N2IwI_cOx);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-Yd8N2IwI_cOx);
}
